*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    border: 10px groove lightseagreen;
    font: bolder;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    text-align: center;
}
body{
    background-color: yellowgreen;
}